html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    border: 3px solid green;
}

.main {
    display: flex;

    border: 3px solid black;
    color: rgba(163, 163, 163, 0.39);
    margin-top: 10px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 700px;
    width: 1600px;
}

.sqr {
    transition: all 0.07s linear;
}

.xAxis {
    display: flex;
    justify-content: space-evenly;
}

.list-xAxis {
    display: flex;
    list-style-type: none;
}

.list-item {
    text-align: center;
    border: 3px solid green;

    display: flex;
    justify-content: center;
    align-items: center;
}

.yAxis {
    border: 3px solid red;
    margin-bottom: 50px;
}

.list-yAxis {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.yAxis-title {
    border: 3px solid black;
    transform: rotate(-90deg);
    height: 30px;
    margin-right: -50px;
}

.xAxis-title {
    display: flex;
    justify-content: center;
    border: 3px solid black;
}



