html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    font-family: 'Source Code Pro', monospace;
}

:fullscreen, ::backdrop {
    background-color: #282828;
}

.main {
    display: flex;

    border: 3px solid #ebbdb2;
    color: rgba(163, 163, 163, 0.39);
    margin-top: 30px;
    box-shadow: 12px 12px 0px 0px rgba(66, 68, 90, 1);

}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 700px;
    width: 1600px;
}

.sqr {
    transition: all 0.07s linear;
}

.xAxis {
    display: flex;
    justify-content: space-evenly;
}

.list-xAxis {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    color: #ebbdb2;
}

.list-item {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.xAxis-title {
    /* display: flex; */
    justify-content: center;
    margin-top: 20px;
    color: #ebbdb2;
    display: none;
}

.container2 {
    display: flex;
    align-items: center;
    margin-top: 30px;

}

.buttons {
    display: flex;
    position: relative;
    margin-left: 800px;
    margin-bottom: 20px;

    border: 5px solid #ebbdb2;
}

.buttons > div {
    border: 3px solid #ebbdb2;
    margin-left: 20px;
    height: 60px;
    font-size: 30px;

    display: flex;
    position: absolute;
    padding-left: 10px;
    box-shadow: 8px 8px 0px 0px rgba(66, 68, 90, 1);
    color: #bdae93;

}

.a-button, .d-button, .s-button, .l-button, .c-button, .f-button {
    width: 60px;
}

.a-button {
    left: 0px;
}

.d-button {
    left: 80px;
}

.enter-button {
    left: 160px;
    width: 100px;
}

.bcksp-button {
    left: 280px;
    width: 150px;
}  

.s-button {
    left: 450px;
}

.l-button {
    left: 530px;
}

.c-button {
    left: 610px;
}

.f-button {
    left: 690px;
}


.coding-hours {
    color: #bdae93;
    text-shadow: 5px 5px 0px rgba(66, 68, 90, 1);
    position: absolute;

}
.total-hours {
    color: #8ec07c;
}

footer {
    margin: 20px;
    color: #83a598;
}

/* block colors */

.blockColor {
    background-color: #3d4d4d;
}

.blockColor1 {
    background-color: #516666;
}

.blockColor2 {
    background-color: #658080;
}

.blockColor3 {
    background-color: #799999;
}

.blockColor4 {
    background-color: #8db3b3;
}

.blockColor5 {
    background-color: #a1cccc;
}

.blockColor6 {
    background-color: #b5e6e6;
}


