html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
    font-family: 'Source Code Pro', monospace;
}

:fullscreen, ::backdrop {
    background-color: #282828;
}


.app {
}

.main {
    display: flex;

    border: 3px solid #ebbdb2;
    color: rgba(163, 163, 163, 0.39);
    margin-top: 10px;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 700px;
    width: 1600px;
}

.sqr {
    transition: all 0.07s linear;
}

.xAxis {
    display: flex;
    justify-content: space-evenly;
}

.list-xAxis {
    display: flex;
    list-style-type: none;
    margin-top: 10px;
    color: #ebbdb2;
}

.list-item {
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.xAxis-title {
    /* display: flex; */
    justify-content: center;
    margin-top: 20px;
    color: #bdae93;
    display: none;
}

.coding-hours {
    margin-top: 20px;
    color: #bdae93;
}

.total-hours {
    color: #8ec07c;
}

footer {
    margin: 20px;
    color: #83a598;
}

/* block colors */

.blockColor {
    background-color: #3d4d4d;
}

.blockColor1 {
    background-color: #516666;
}

.blockColor2 {
    background-color: #658080;
}

.blockColor3 {
    background-color: #799999;
}

.blockColor4 {
    background-color: #8db3b3;
}

.blockColor5 {
    background-color: #a1cccc;
}

.blockColor6 {
    background-color: #b5e6e6;
}


